*{
    margin:0px;
    padding:0px;
}
body{
    background: #37ABED;
}
.card-container{
    background: white;
    margin:0 auto;
    margin-top:3%;
    padding:20px;
    box-shadow:0 25px 30px rgba(0,0,0,0.3);
}
.rule{
    background: #37ABED;
    width:100%;
    height:0.3%;
}
label{
    margin-top:1%;
}